<table class="profile" summary="Information profil">
  <tr>
    <td class="main">
      <h1>
        <%= @cat.name %>
      </h1>
      <h4>
        <%= @cat.email %>
      </h4>
      <p>
        <% if signed_in? %>
          <% if current_user?(@cat) %>
            <%= link_to "Modifier mon profile", edit_cat_path(@current_user) %>
          <% end %>
        <% end %>
      </p>
    </td>
    <td class="sidebar round">
      <strong>Nom</strong> <%= @cat.name %><br/>
      <strong>URL</strong>  <%= link_to cat_path(@cat), @cat %>
    </td>
  </tr>
</table>